# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.gitattributes

#Exclude
Models/
cfg/
haarcascades/
weights/


# Exclude waste-detection-env directory
waste-detection-env/
.idea/
.ipynb_checkpoints
saved_models/
*.pyc
